html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* header styles */
.show.nav-list-div,
.show.exit-menu {
  display: block;
}
.shopNav {
  height: 15vh;
  background-color: black;
  color: white;
  padding: 10px;
}
.shopNav a,
.shopNav img {
  margin: 0 auto;
  padding: 0;
}
.shopHeader {
  background-image: url(../innerPages/assets/images/Pencil_lake.jpeg);
  background-size: cover;
  height: 100vh;
}
.shopGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'shopLogo shopName hamburger';
  align-items: center;
}
.shopLogo {
  grid-area: shopLogo;
  padding-top: 10px;
}
.shopName {
  grid-area: shopName;
  text-align: center;
  margin-top: 15px;
}
.hamburger {
  grid-area: hamburger;
  margin: 0 auto;
}
#shopBtn {
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  border: 3px white solid;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 300px;
  position: absolute;
  top: calc(50% - 75px / 2);
  left: calc(50% - 300px / 2);
  font-size: 1.5rem;
}
.nav-list-div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.99);
  z-index: 2;
}

.nav-list {
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.hamburger,
.exit-menu,
.menu {
  display: block;
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  position: relative;
}
.nav-list a:hover {
  background-color: #fff;
  color: black;
  font-size: 1.8rem;
}
ul {
  padding: 0;
  list-style-type: none;
}
.nav-list a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 1px;
  transition-property: all;
  transition-duration: 0.5s;
  padding: 7px;
  border-radius: 12px;
}
.nav-list li {
  margin: 20px auto;
}
.drop-menu a {
  font-size: 1rem;
}
.drop-menu a:hover {
  font-size: 1.3rem;
}
.drop-menu {
  display: none;
  position: absolute;
  top: 40px;
  left: 25px;
  z-index: 3;
  font-size: 0.8rem;
}
.drop-menu li {
  border-radius: 0px 0px 0px 0px;
  margin: 10px auto;
  width: 100%;
  padding: 0px;
  transition: all 1s ease;
  list-style: none;
}
li:hover .drop-menu,
li:focus-within .drop-menu {
  display: block;
}
.drop-menu li:hover {
  z-index: 3;
}

/* product pages */
.flex {
  display: flex;
  flex-direction: row;
}
.card-img-top {
  width: 50%;
  display: inline;
}
#carouselExampleCaptions {
  width: 50%;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.carousel-item img,
.carousel-item p {
  border-radius: 20%;
  max-width: 100%;
  margin: 5px auto;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 auto 0;
  padding: 0 auto;
  font-size: 0.7rem;
  width: 200px;
  z-index: 0;
  height: 50px;
}
.card-body {
  width: 50%;
}

/* responsive styles */
@media screen and (max-width: 700px) {
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .carousel-caption {
    display: absolute;
  }
  .card-body {
    width: 100%;
  }
  .d-block {
    width: 300px;
  }
}
