html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}
h2 {
    margin: 0px auto 50px;
    text-align: center;
    width: 100%;
    background-color: #0f83dd;
    color: white;
    height: 150px;
    padding: 65px;
}
#skills h2 {
    padding: 50px;
}
/* nav styles */
.show.nav-list-div, 
.show.exit-menu {
    width: 65%;
    display: block;} 
#nav {
    width: 100%;
    z-index: 3;
}
header {
    height: 100vh;
    background-image:url(../assets/images/background.png);
    /* image from https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freshbooks.com%2Fblog%2Fapproachable-accounting&psig=AOvVaw0vICPmVLMl0nSlPB543Fa0&ust=1600113879665000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPDg1qS65-sCFQAAAAAdAAAAABAD */
    background-size: cover;
    margin: 0px auto;
}
h1 {
    text-shadow: 5px 5px 7px #000;
    border-radius: 5px;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    width: 550px;
    height: 150px;
    color: white;
    position: absolute;
    top: calc(25% - 150px / 2);
    left: calc(50% - 550px / 2);
}
.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
}
.menu {
    display: block;
    margin: 0px;
    text-align: center;}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0px auto;
}
.nav-list-div {
    margin: 20px 10px;
}
.nav-list li { 
    transition-property: all;
    transition-duration: .3s, .3s;
    margin: 20px;
    padding: 10px;
    border: solid 2px white;
}
.nav-list li:hover {
    font-size: 1.2rem;
}

.nav-list a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
    transition-property: all;
}
.hamburger, 
.exit-menu {
    display: none;
    position: relative;}  
.hamburger {
    text-align: right;
    padding: 30px 50px;
} 
i {
    font-size: 1.5rem;
}

/* end of header styles */

/* start of about me styles */
#aboutMe {
    min-height: 100vh;
}
#aboutMe p {
    max-width: 60%;
}
img {
    max-width: 250px;
    margin: 5px;
}
.border img {
    width: 125px;
}
.border {
    margin: 100px auto;
}
/* end of about me styles */

/* start experience styles */
#experience {
    position: relative;
    margin: 25px auto;
    min-height: 60vh;
}
#experience img {
    width: 100px;
}
.workPosition {
    font-size: 1rem;
    max-width: 300px;
    margin: 10px;
}
.workTitle {
    font-size: 1.1rem;
}
.work {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
    position: absolute;
    top: 350px;
    left: calc(50% - 75% / 2);
}
#rbcDiv {
    display: none;
}
.workInfo {
    display: flex;
    flex-direction: column;
}
.hidden  {
    display: none;
    padding: 15px;
    border: solid 1px black; 
    width: 300px;
    position: absolute;
    top: 575px;
    left: calc(50% - 300px / 2);
    background-color: whitesmoke;
    z-index: 2;
    border-radius: 20px;
}
.moreDetails {
    text-decoration: underline;
    display: block;
    border: none;
    background-color: white;
    cursor:pointer;
    margin: 400px auto;   
}
.arrows {
    position: absolute;
    outline: none;
}
.arrowBulletList {
    list-style: none;
    padding: 20px;
}
.arrowBulletList li::before{ 
    content: "\21b3"; 
} 
#prevArrow {
    top: 375px;
    left: 5px;
}
#nextArrow {
    top: 375px;
    right: 5px;
}
.fa-times-circle {
    position: absolute;
    top: 10px;
    right:10px;
}
/* end experience styles */


/* start volunteering styles */
#volunteering {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-areas: 'volunteerHeader volunteerHeader volunteerHeader'
                         'riverwood arrow1 riverwoodDetails'
                         'firstZoo arrow2 firstZooDetails'
                         'mra arrow3 mraDetails';
    text-align: center;
}
.fa-arrows-alt-h {
    -webkit-animation: bounceLeft 1.8s infinite;
    animation: bounceLeft 1.8s infinite;
  }

#fa-arrows-alt-h1,#fa-arrows-alt-h2,#fa-arrows-alt-h3 {
    align-self: center;
    font-size: 5rem;
    transition: all 1s ease;
}
#fa-arrows-alt-h1 {
    grid-area: arrow1;
}
#fa-arrows-alt-h2 {
    grid-area: arrow2;
}
#fa-arrows-alt-h3 {
    grid-area: arrow3;
}
#volunteerHeader {
    grid-area: volunteerHeader;
}
#riverwood {
    grid-area: riverwood;
}
#riverwoodDetails {
    grid-area: riverwoodDetails;
}
#firstZoo {
    grid-area: firstZoo;
}
#firstZooDetails {
    grid-area: firstZooDetails;
}
#mra {
    grid-area: mra;
}
#mraDetails {
    grid-area: mraDetails;
}
.volunteerWork {
    width: 250px;
    border: solid 2px black;
    padding: 10px;
    margin: 30px auto;
}
.volunteerDetails {
    width: 300px;
    border: dashed 1px black;
    padding: 10px;
    margin: 30px auto;
    text-align: left;
}
/* end volunteering styles */

/* start education styles */
#education {
    min-height: 100vh;
}
.edu img {
    width: 150px;
    margin: 30px;
    border-radius: 50%;
    border: solid 2px black;
}
.edu {
    display: flex;
    justify-content: center;
}
.edu div h3, .edu div ul {
    margin: 25px;
    max-width: 150px;
    padding: 10px;
}

/* end  education styles */

/* start skills styles */
#skills {
    text-align: center;
    min-height: 100vh;
}
.underline {
    text-decoration: underline;

}
#skills {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: 'skillsHeader skillsHeader'
                         'leadership financialRep'
                         'softwareApps otherSkills';
}
#skillsHeader {
    grid-area: skillsHeader
}
#leadership {
    grid-area: leadership;
}
#financialRep{
    grid-area: financialRep;
}
#softwareApps {
    grid-area: softwareApps;
}
#otherSkills {
    grid-area: otherSkills;
}

/* end skills styles */

.inProgress {
    display: absolute;
    position: fixed;
    top: 40%;
    width: 100%;
    background-color: black;   
    z-index: 3; 
}

@media screen and (min-width:990px) {
    @-webkit-keyframes bounceLeft {
        15% {
            -ms-transform: translateX(45px);
            transform: translateX(45px);
          }
          30% {
              -ms-transform: translateX(70px);
              transform: translateX(70px);
            }
          40% {
            -ms-transform: translateX(45px);
            transform: translateX(45px);
          }
          50% {
          -ms-transform: translateX(0px);
            transform: translateX(0px);
          }
          60% {
              -ms-transform: translateX(-45px);
                transform: translateX(-45px);
          }
          75% {
              -ms-transform: translateX(-70px);
                transform: translateX(-70px);
          }
          85% {
              -ms-transform: translateX(-45px);
                  transform: translateX(-45px);
          }
          100% {
              -ms-transform: translateX(0px);
                  transform: translateX(0px);
          }
      }
      @-moz-keyframes bounceLeft {
        15% {
            -ms-transform: translateX(45px);
            transform: translateX(45px);
          }
          30% {
              -ms-transform: translateX(70px);
              transform: translateX(70px);
            }
          40% {
            -ms-transform: translateX(45px);
            transform: translateX(45px);
          }
          50% {
          -ms-transform: translateX(0px);
            transform: translateX(0px);
          }
          60% {
              -ms-transform: translateX(-45px);
                transform: translateX(-45px);
          }
          75% {
              -ms-transform: translateX(-70px);
                transform: translateX(-70px);
          }
          85% {
              -ms-transform: translateX(-45px);
                  transform: translateX(-45px);
          }
          100% {
              -ms-transform: translateX(0px);
                  transform: translateX(0px);
          }
      }
      @keyframes bounceLeft {
        15% {
          -ms-transform: translateX(45px);
          transform: translateX(45px);
        }
        30% {
            -ms-transform: translateX(70px);
            transform: translateX(70px);
          }
        40% {
          -ms-transform: translateX(45px);
          transform: translateX(45px);
        }
        50% {
        -ms-transform: translateX(0px);
          transform: translateX(0px);
        }
        60% {
            -ms-transform: translateX(-45px);
              transform: translateX(-45px);
        }
        75% {
            -ms-transform: translateX(-70px);
              transform: translateX(-70px);
        }
        85% {
            -ms-transform: translateX(-45px);
                transform: translateX(-45px);
        }
        100% {
            -ms-transform: translateX(0px);
            transform: translateX(0px);
        }
      }
      /* right to left bounce */
}


@media screen and (max-width:990px) {   
    #skills {
        grid-template-columns: 1fr;
        grid-template-areas: 'skillsHeader'
                             'leadership'
                             'financialRep'
                             'softwareApps'
                             'otherSkills';
    }
    #volunteering {
        grid-template-columns: 100%;
        grid-template-areas: 'volunteerHeader'
                             'riverwood'
                             'arrow1' 
                             'riverwoodDetails'
                             'firstZoo'
                             'arrow2'
                             'firstZooDetails'
                             'mra'
                             'arrow3'
                             'mraDetails';
    }
    #fa-arrows-alt-h1,#fa-arrows-alt-h2,#fa-arrows-alt-h3 {
        transform: rotate(90deg);
    }
    h1 {
        max-width: 300px;
        padding: 0px;
        left: calc(50% - 300px / 2);
    }
    .hamburger,
    .exit-menu,
    .menu {
        display: block;
        color: white;
        width: 100%;
        margin: 5px auto;
    }
    .nav-list-div {
        margin: 0 auto;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgb(255,255,255);
        z-index: 2;
        height: 65vh;
    }
    .nav-list {
        display: flex;
        flex-direction: column;}
    .nav-list li {
        margin: 10px auto;
        border: none;
        color: black;
    }
    .nav-list a {
        color: black;
    }
    p.hamburger {
        text-align: right;
        margin: 0;
    }
    .hamburger {
        /* margin-top: 30px; */
        padding-left: 50px;
    }
    .nav-list li:hover {
        background-color: lightgrey;
        width: 170px;
    }    
    img {
        width: 100px;
    }
    .border img {
        width: 50px;
        margin: 0px;
        display: block;
    }
    .work {
        flex-direction: column;
        align-items: center;
        top: 175px;
    }
    .moreDetails {
        margin-top: 350px;
    }
    .hidden {
        width: 250px;
        top: 500px;
        left: calc(50% - 250px / 2);
    }
    #prevArrow, #nextArrow {
        top: 250px;
    }
    .edu img {
        width: 110px;
    }
    .edu div h3,.edu div ul {
        font-size: 1rem;
        margin: 10px;
    }
}

